<!DOCTYPE HTML>
<html>
<head>  

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script>

window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2",
	title:{
	text: "Stock Price over the Past Year"
	},
	axisY:{
		includeZero: false
	},
	legend: {
		cursor: "pointer",
		verticalAlign: "top",
		horizontalAlign: "center",
		dockInsidePlotArea: true,
		itemclick: toogleDataSeries
	},
	data: [{        
		type: "line",		
		showInLegend: true,
		markerSize: 0,
		name: "Daily Price",
		dataPoints: [
			{% for item in values %}
				{y: {{item}} },
			{% endfor %}
			// { y: 450 },
			// { y: 414},
			// { y: 520, indexLabel: "highest",markerColor: "red", markerType: "triangle" },
			// { y: 460 },
			// { y: 450 },
			// { y: 500 },
			// { y: 480 },
			// { y: 480 },
			// { y: 410 , indexLabel: "lowest",markerColor: "DarkSlateGrey", markerType: "cross" },
			// { y: 500 },
			// { y: 480 },
			// { y: 510 }
		]
		},
		{
		type: "line",		
		showInLegend: true,
		markerSize: 0,
		name: "SMA 10",
		dataPoints: [
			{% for item in SMA %}
				{y: {{item}} },
			{% endfor %}
			// { y: 450 },
			// { y: 414},
			// { y: 520, indexLabel: "highest",markerColor: "red", markerType: "triangle" },
			// { y: 460 },
			// { y: 450 },
			// { y: 500 },
			// { y: 480 },
			// { y: 480 },
			// { y: 410 , indexLabel: "lowest",markerColor: "DarkSlateGrey", markerType: "cross" },
			// { y: 500 },
			// { y: 480 },
			// { y: 510 }
			]
		}
		]
});
chart.render();

function toogleDataSeries(e){
	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	} else{
		e.dataSeries.visible = true;
	}
	chart.render();
}

}
</script>
</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>




<br>
<br>
<br>

<div class="container">
	<div class="row">
		<div class="col" style="text-align:center">
			<h1> {{info.symbol}} </h1>
		</div>
	</div>
		
	<div class="row">
	    <div class="col-sm">
	    	Current Price: {{info.price}} <br>
	      	Open: {{info.open}} <br>
			High: {{info.high}} <br>
			Low: {{info.low}}
	    </div>
	    <div class="col-sm">
      		Volume: {{info.volume}} <br>
			Previous Close: {{info.previous_close}} <br>
			Change: {{info.change}} <br>
			Change Percent: {{info.change_percent}}
	    </div>
  	</div>
 
	Purchase your shares here
	<form action="/portfolio">
		<input type="text" name="num Shares" value="Shares"/>
		<input type="submit" value="Purchase!"/>
	</form>
</div>



</body>
</html>