<!DOCTYPE html>
<html>
  <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title> LOG IN </title>
  </head>
  <body>
      
    {% block error %}
        {% if error %}
            <font color="red">{% set msgs = get_flashed_messages() %}
              {{ msgs[0] }}
	      </font>
        {% endif %}
    {% endblock %}
      
    {% block success %}
        {% if success %}
            <font color="green">{% set msgs = get_flashed_messages() %}
              {{ msgs[0] }}
	      </font>
        {% endif %}
    {% endblock %}
   
      
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      
    <br>
    <b>Sign in Page</b>
    <form action="/auth" name="main" method="POST" >
      <div class = "row">
      <input type="text" name="user" placeholder = 'username'>
      <br>
      </div>
      <div class = "row">
      <input type="password" name="pass" placeholder = 'password'>
      </div>
      <br>
      <br>
      <button name="enter:" type="submit" class="btn btn-primary">
      Submit
      </button>
    </form>
    

    <br>
    <br>
    <br>

    <b>MAKE AN ACCOUNT</b>
    <br>
    <br>

    <form class = "col s12" action= "/register" method="POST">
      <!--<div class = "row">-->
      <div class ="input-field col s6">
      <input type = "text" name = "Username" placeholder = 'Username'><br>
      <label for="Username">Username</label>
      <!--</div>-->
      </div>
      <div class="input-field col s6">
      </div>
      <!--<div class = "row">-->
      <div class="input-field col s6">
      <input type = "password" name = "Password" placeholder = 'password'><br>
      <label for="Password">Password</label>
      </div>
      <!--</div>-->
      <!--<div class = "row">-->
      <div class ="input-field col s6">
      <input type = "password" name = "Confirm_Password" placeholder = 'Retype your password'><br>
      </div>
      <!--</div>-->
      <br>
      <button type = "submit" value="Register"  class="btn btn-primary"> Register </button>
      </form>   
    </div>
  </body>
</html>