<!DOCTYPE html>
<html>
  <head>
    <title> LOG IN </title>
  </head>
  <body>
    <br>
    <br>
    <br>
    <b>Sign in Page</b>
    <br>
    <br>

    <form action="/auth" name="main" method="GET" placeholder="Username">
      <input type="text" name="user" placeholder = 'username'>
      <br>
      <input type="text" name="pass" placeholder = 'password'>
      <br>
      <br>
      <button name="enter:" type="submit">
      Submit
      </button>
    </form>

    <br>
    <br>
    <br>

    <b>MAKE AN ACCOUNT</b>
    <br>
    <br>

    <form action= "/register" method="GET">
      <input type = "text" name = "Username" placeholder = 'Username'><br>
      <input type = "text" name = "Password" placeholder = 'password'><br>
      <input type = "text" name = "Confirm_Password" placeholder = 'Retype your password'><br>
      <br>
      <input type = "submit" value="Register">
      </form>
  </body>
</html>